  <Chat::PostInput @onClick={{action "handleSubmit"}} @inputValue={{this.inputValue}}/>
  {{#each @sortedPosts as |post|}}
    <Post 
      @post={{post}}
      @onPostEdit={{action "handlePostEdit"}}
      @onDelete={{action "handleDelete" post.id}}
    />
  {{/each}}
  {{!-- <button class="post-input-button" {{action "handleSubmit"}}>Tweet</button> --}}
